<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Deck: {{.deck.Name}}</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <style>
    textarea {
      display: block;
      margin-bottom: 2px;
    }
    </style>
  </head>
  <body>
    <h1>Deck: {{.deck.Name}}</h1>
    <p><a href="/">Go back to decks</a></p>
    <h2>Cards</h2>
    <ul>
      {{range .cards}}
      <li>
        <b><a href="/cards/{{.ID}}">{{.Front}}</a></b> - {{.Back}}
        <a hx-delete="/cards/{{.ID}}"
          hx-target="closest li"
          hx-swap="outerHTML swap:1s settle:2s"
          hx-trigger="click"
          hx-on:afterOnLoad="showToast(JSON.parse(event.detail.xhr.responseText).message)"
        >delete</a>
      </li>
      {{else}}
      <li>No cards found.</li>
      {{end}}
    </ul>
    <p><a href="/decks/{{.deck.ID}}/review">Review Cards</a></p>

    <!-- Form to add a new card -->
    <h3>Add a New Card</h3>
    <form action="/decks/{{.deck.ID}}/cards" method="post">
      <textarea rows="3" cols="50" name="front" placeholder="Front text" required></textarea>
      <textarea rows="5" cols="50" name="back" placeholder="Back text" required></textarea>
      <button type="submit">Add Card</button>
    </form>
    <div id="toast" style="
      position: fixed;
      top: 10px;
      right: 10px;
      background: #333;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      display: none;
      z-index: 9999;
      ">
    </div>
    <script>
    function showToast(message) {
      const toast = document.getElementById('toast');
      toast.textContent = message;
      toast.style.display = 'block';
      setTimeout(() => {
        toast.style.display = 'none';
      }, 3000); // 3 seconds
    }
    </script>
  </body>
</html>
