<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Your Decks</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body>
  <h1>Decks</h1>
  <h2>Create a New Deck</h2>
  <form action="/decks" method="post">
    <input type="text" name="name" placeholder="Deck Name" required>
    <button type="submit">Create</button>
  </form>

  <ul hx-target="closest li" hx-swap="outerHTML ">
    {{range .decks}}
      <li>
        <a href="/decks/{{.ID}}">{{.Name}}</a>
        <button
          type="button" 
          hx-post="/decks/{{.ID}}"
          hx-trigger="edit"
          onClick="let editing = document.querySelector('.editing')
                    if(editing) {
                      Swal.fire({title: 'Already Editing',
                      showCancelButton: true,
                      confirmButtonText: 'Yep, Edit This Row!',
                      text:'Hey!  You are already editing a row!  Do you want to cancel that edit and continue?'})
                      .then((result) => {
                          if(result.isConfirmed) {
                            htmx.trigger(editing, 'cancel')
                            htmx.trigger(this, 'edit')
                          }
                      })
                      } else {
                         htmx.trigger(this, 'edit')
          }"
        >Edit
        </button>
        
        <button hx-delete="/decks/{{.ID}}"
          hx-target="closest li"
          hx-swap="outerHTML swap:1s settle:2s"
          hx-trigger="click"
        >delete
        </button>
      </li>
    {{else}}
      <li>No decks found.</li>
    {{end}}
  </ul>
</body>
</html>
